<div class="row">
  <div class="col-12 col-md-12">
    <nb-card>
      <nb-card-header>Realizar solicitud</nb-card-header>
      <nb-card-body>
        
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col" rowspan="3">
                Cantidad de empleados                
              </th>
              <th scope="col" rowspan="3">
                  Descripción por perfil de puesto                
              </th>
              <th colspan="7">
                  Horas y montos solicitados
              </th>
              <th>Justificación</th>
            </tr>
            <tr>
              <th colspan="3">Horas Presupuestadas</th>
              <th>2</th>
            </tr>
            <tr>
              
              <th>3</th>
            </tr>
          </thead>
          <tbody>
            <tr class="table table-bordered table-striped">
              <th>a</th>
              <th>a</th>
              <th>a</th>
              <th>a</th>
              <th>a</th>
              <th>a</th>
              <th>a</th>
              <th>a</th>
              <th>a</th>
              <th>a</th>
            </tr>
            <tr class="table table-bordered table-striped">
                <th>a</th>
                <th>a</th>
                <th>a</th>
                <th>a</th>
                <th>a</th>
                <th>a</th>
                <th>a</th>
                <th>a</th>
                <th>a</th>
                <th>a</th>
              </tr>
          </tbody>
        </table>

      </nb-card-body>
      <nb-card-footer>Footer</nb-card-footer>
    </nb-card>
  </div>
</div>