#first-input {
  margin-top: 4rem;
  margin-bottom: 2rem;
}

.auth-sep {
  font-size: 15px;
  margin-top: 3%;
  margin-bottom: 3%;
}

.fa-sign-in {
  margin-right: 6%;
}

.fa-envelope {
  margin-left: 2%;
  margin-right: 3%;
}

.fa-lock {
  margin-left: 3%;
  margin-right: 4%;
}
