<toaster-container [toasterconfig]="config"></toaster-container>
<div class="row">
  <div class="col-12 col-md-12">
    <nb-card>
      <nb-card-header>
        <h2>{{titulo}}</h2>
      </nb-card-header>
      <nb-card-body>
        <form class="form-horizontal" #form="ngForm">
          <div class="row">
            <div class="col-6">
              <div class="form-group">
                <label class="control-label col-sm-2" for="cedula">Cedula:</label>
                <div class="col-sm-12">
                  <input type="text" class="form-control" id="cedula" placeholder="Cedula" name="cedula" required [(ngModel)]="this.solicitudActual.cedula">
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label class="control-label col-sm-2" for="carnet">Carnet:</label>
                <div class="col-sm-12">
                  <input type="text" class="form-control" id="carnet" placeholder="Carnet" name="carnet" required [(ngModel)]="this.solicitudActual.carnet">
                </div>
              </div>
            </div>

            <div class="w-100 d-none d-md-block"></div>

            <div class="col-6">
              <div class="form-group">
                <label class="control-label col-sm-2" for="nombre">Nombre:</label>
                <div class="col-sm-12">
                  <input type="text" class="form-control" id="nombre" placeholder="Nombre" name="nombre" required [(ngModel)]="this.solicitudActual.nombre">
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label class="control-label col-sm-2" for="cedula">Apellidos:</label>
                <div class="col-sm-12">
                  <input type="text" class="form-control" id="apellidos" placeholder="Apellidos" name="apellido" required [(ngModel)]="this.solicitudActual.apellidos">
                </div>
              </div>
            </div>

            <div class="w-100 d-none d-md-block"></div>
            <div class="col-6">
              <div class="form-group">
                <label class="control-label col-sm-2" for="nombre">Email:</label>
                <div class="col-sm-12">
                  <input type="email" class="form-control" id="email" placeholder="Email" name="email" required [(ngModel)]="this.solicitudActual.email">
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label class="control-label col-sm-2" for="telefono">Telefono:</label>
                <div class="col-sm-12">
                  <input type="text" class="form-control" id="telefono" placeholder="Telefono" name="telefono" required [(ngModel)]="this.solicitudActual.telefono">
                </div>
              </div>
            </div>

            <div class="w-100 d-none d-md-block"></div>
            <div class="col-6">
              <div class="form-group">
                <label class="control-label col-sm-2" for="usuario">Usuario:</label>
                <div class="col-sm-12">
                  <input type="email" class="form-control" id="usuario" placeholder="Usuario" name="usuario" required [(ngModel)]="this.solicitudActual.usuario">
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label class="control-label col-sm-2" for="carrera">Carrera:</label>
                <div class="col-sm-12">
                  <input type="text" class="form-control" id="carrera" placeholder="Carrera" name="carrera" required [(ngModel)]="this.solicitudActual.carrera">
                </div>
              </div>
            </div>

          </div>



          <button type="button" class="btn btn-success" [disabled]="form.invalid" (click)="guardarDatos()">Guardar</button>
        </form>
      </nb-card-body>
      <nb-card-footer>
      </nb-card-footer>
    </nb-card>
  </div>
</div>
